@{
    ViewData["Title"] = "Библиотека";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Приложение для работы с данными библиотеки</a>.</p>
</div>
